
.p-component, .p-component * {
    box-sizing: border-box;
}
.p-card {
    background: #ffffff;
    color: #495057;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    overflow: hidden;
    height: 750px;
    margin-top: 2rem;
}
.tabler-icon {
   margin:0;
   margin-right:2px;
  
   margin-bottom:-5px;
   stroke-width: 1
}
.tabler-icon-paw-filled {
    margin:2px;
    margin-bottom:-3px;
    stroke-width: 1;
    margin-left:8px; 
 }
 .m-0{
    height: 125px;
 }