.nav {


    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
}

.tabs {

    width: 100%;
    display: flex;
    align-items: space-between;
    background-color: #ffffff;
    box-sizing: border-box;
    margin: 0;
    height:120px;
}

.tab {
    cursor: pointer;
    width: 25vw;
    height: 100px;
    padding: 10px 15px;
    transition: 0.3s;
    margin: 0;
    color: white;
    background-color: #996633;
    display: flex;
text-decoration: none;
    box-shadow: 0 1px 5px rgb(0 0 0 / 0.2);
    border-top: 1px solid #000000;
    border-bottom: 1px dashed #000000;
    border-left: 0;
    border-right: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 2rem 2rem;

}

.tab__subtitle {
    text-align: left;
    font-size: 1.5rem;
    font-weight: lighter;
}

.tab__title {
    font-weight: 600;
    margin-bottom: 2px;
    font-size: 2rem;
}

.tab:first-child {
    border-left: 1px solid #000000;
}

.tab:nth-child(2n) {
    background-color: #1c6c8c;
    color: white;
}

.tab:hover {
    background-color: #ddd;
}

.tabcontent {
    display: none;
    padding: 15px;
    border-top: none;
}
.p-button{
    background-color: #996633;
    border:none;

}
.p-button:nth-child(2n){
    background-color: #1c6c8c;
}